* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
}

.all-content {
  background: #f7f5f2;
}

html ::-webkit-scrollbar-track {
  background: transparent;
}

html ::-webkit-scrollbar-thumb {
  background: #b2744c;
}

html ::-webkit-scrollbar {
  width: 10px;
}

#navbar {
  background: #b2744c;
}

#logo img {
  border-radius: 10px;
  width: 160px;
  margin-left: 40px;
}

/* Navbar start */
.navbar-nav {
  align-items: center;
  justify-content: space-between;
}

.nav-item .nav-link {
  color: black;
  margin-left: 30px;
  font-weight: bold;
  transition: 0.5s;
}

.nav-item .nav-link:hover {
  background: #f7f5f2;
  border-radius: 5px;
  color: black;
}

.navbar-icons .icon-link .icon {
  color: white;
  font-size: 1.5em;
  transition: color 0.3s;
  padding: 15px;
}

.navbar-icons .icon-link .icon:hover {
  color: rgb(40, 10, 10);
}
/* Navbar end */

/* Home section start */
#home {
  max-width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./img/homebg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
}

#home .content {
  padding-top: 100px;
  padding-left: 20px;
  margin-left: 56px;
  padding-right: 600px;
  text-align: justify;
}

#home .content h3 {
  font-size: 30px;
  color: whitesmoke;
  line-height: 1.5;
}

#home .content h2 {
  font-size: 30px;
  color: whitesmoke;
  margin-left: 2em;
}

#home .content p {
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 30px;
  color: whitesmoke;
}

#shop-btn {
  width: 150px;
  height: 36px;
  margin-top: 20px;
  background: whitesmoke;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  transition: 0.5s ease;
  cursor: pointer;
}

#shop-btn:hover {
  background: #b2744c;
  color: whitesmoke;
}
/* Home section end */

/* About start*/
#about {
  width: 100%;
  height: 100vh;
  background: #f7f5f2;
  font-family: "Roboto", sans-serif;
}

#about .container {
  padding-top: 50px;
}

#about .heading {
  text-align: center;
  margin-bottom: 50px;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

#about .heading span {
  color: #b2744c;
}

#about .card {
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 10px;
}

#about .card img {
  border-radius: 10px;
}

#about .container h3 {
  margin-top: 20px;
}

#about .container p {
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.7;
  text-align: justify;
  padding-right: 1em;
}

#about a {
  text-decoration: none;
}

#about-btn {
  display: block;
  width: 170px;
  height: 36px;
  background: transparent;
  border: 2px solid #b2744c;
  color: #b2744c;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

#about-btn:hover {
  background: #b2744c;
  color: white;
}
/* About end */

/* Top categories start */
#top-cards {
  max-width: 100%;
  display: flex;
  min-height: 100vh;
  background-color: #34302d;
  background-position: 80%;
  margin-top: 20px;
  height: 120vh;
}

#top-cards .slider-wrapper {
  overflow: hidden;
}

#top-cards .container {
  margin-top: 50px;
}

#top-cards .container .heading2 {
  color: #f7f5f2;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}

#top-cards .container .heading2 span {
  color: #b2744c;
}

#top-cards .card-item {
  max-width: 360px;
  width: 100%;
  color: #fff;
  user-select: none;
  height: 475px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  background: rgba(254, 168, 103, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 10px 14px;
}

#top-cards .card-item .top-img {
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #fff;
}

#top-cards .card-item .top-name {
  font-size: 20px;
  margin-bottom: 10px;
}

#top-cards .card-item .top-decription {
  font-size: 14px;

  text-align: justify;
}

#top-cards .card-item .top-bt {
  margin-top: 3em auto;
  font-size: 1rem;
  padding: 5px 30px;
  color: #030728;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  background: #fff;
  border: 1px solid transparent;
}

#top-cards .card-item .top-bt:hover {
  background-color: rgb(40, 10, 10);
  color: #fff;
}

#top-cards .swiper-pagination-bullet {
  background: #fff;
  height: 10px;
  width: 10px;
}
/* Top categories end */

/* Testimonials start */
#testimonial {
  width: 100%;
  height: 100vh;
  background: #f7f5f2;
  font-family: "Roboto", sans-serif;
}

#testimonial .container {
  padding-top: 50px;
}

#testimonial .heading {
  text-align: center;
  margin-bottom: 40px;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

#testimonial .heading span {
  color: #b2744c;
}

#testimonial .item {
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 10px;
}

#testimonial .content {
  padding: 25px;
  background: #cbcaca;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;
}

#testimonial .content:hover {
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.5s;
}

#testimonial .text-content h3 {
  color: #d38716e2;
  margin-top: 15px;
  font-size: 20px;
  text-align: right;
}

#testimonial .text-content blockquote {
  font-size: 16px;
  line-height: 25px;
  text-align: justify;
}

#testimonial .text-content blockquote::before {
  content: "\275B	\275B";
  font-size: 45px;
  position: relative;
  color: #ff9800;
  line-height: 20px;
  top: 2px;
  bottom: -15px;
  right: 5px;
}

#testimonial .text-content blockquote::after {
  content: "\275C	\275C";
  font-size: 45px;
  position: relative;
  color: #ff9800;
  line-height: 10px;
  bottom: -15px;
  left: 5px;
}

#testimonial .img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#testimonial .img-area {
  position: relative;
  top: -30px;
  left: calc(50% - 50px);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 10px solid white;
  overflow: hidden;
  margin-top: 30px;
}

/* Testimonials end */

/* Footer start */

#footer {
  background: #b2744c;
  color: white;
  width: 100%;
  padding: 55px 30px 20px;
  margin-top: 50px;
  position: relative;
}

#footer .footer-logo img {
  border-radius: 10px;
  width: 200px;
  margin-bottom: 30px;
}

#footer .social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#footer .social-icons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}

#footer .social-icons a i {
  font-size: 1.3em;
  color: black;
  opacity: 0.9;
}

#footer .social-icons a:hover i {
  color: rgb(202, 87, 5);
  transition: 0.5s;
}

#footer .foot-navbar {
  margin: 30px 0;
}

#footer .foot-navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

#footer .foot-navbar ul li {
  margin: 0 15px;
}

#footer .foot-navbar ul li a {
  color: black;
  margin: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.5s;
}

#footer .foot-navbar ul li a:hover {
  color: #f7f5f2;
  opacity: 1;
}

#footer .arrow {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
  transition: 0.5s;
}

#footer .arrow:hover img {
  color: #f7f5f2;
  filter: brightness(0) invert(1);
}

/* Footer end */

/* Contact us start */
#contact-page-1 {
  width: 100%;
  height: 90vh;
  background: #f7f5f2;
  font-family: "Roboto", sans-serif;
}

#contact-page-1 .container {
  padding-top: 50px;
  padding-bottom: 20px;
}

#contact-page-1 .heading {
  text-align: center;
  margin-bottom: 50px;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

#contact-page-1 .heading span {
  color: #b2744c;
}

#contact-page-1 .card {
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 10px;
}

#contact-page-1 .card img {
  border-radius: 10px;
}

#contact-page-1 .container p {
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.7;
  text-align: justify;
  padding-right: 1em;
}

#contact-page-1 .container p span {
  color: #b2744c;
  font-weight: bold;
}

#contact-page-1 .msg-request p {
  text-align: center;
}

#contact-page-2 {
  max-width: 100%;
  background-color: #34302d;
  background-position: 80%;
  margin-top: 20px;
  position: relative;
  min-height: 100vh;
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

#contact-page-2 .heading2 {
  color: #b2744c;

  font-size: 30px;
  font-weight: bold;
  margin-bottom: 50px;
}

#contact-page-2 p {
  font-size: 16px;
  font-weight: 300;
}

#contact-page-2 .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

#contact-page-2 .contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#contact-page-2 .contact-info .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

#contact-page-2 .contact-info .box .icon {
  min-width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: black;
  background: #fff;
  border-radius: 50%;
}

#contact-page-2 .contact-info .box .text {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  font-size: 16px;
  font-weight: 300;
}

#contact-page-2 .contact-info .box .text h3 {
  font-size: 20px;
  font-weight: 400;
  color: rgb(247, 137, 137);
}

#contact-page-2 .contact-form {
  width: 40%;
  padding: 40px;
  background: #fff;
}

#contact-page-2 .contact-form legend {
  color: #000;
  font-size: 30px;
  font-weight: bold;
}

#contact-page-2 .contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

#contact-page-2 .contact-form .input-box input,
#contact-page-2 .contact-form .input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  background-color: #fff;
}

#contact-page-2 .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

#contact-page-2 .input-box input:focus ~ span,
#contact-page-2 .input-box input:valid ~ span,
#contact-page-2 .input-box textarea:focus ~ span,
#contact-page-2 .input-box textarea:valid ~ span {
  color: rgb(67, 2, 2);
  transform: translateY(-20px);
  font-size: 12px;
}

#contact-page-2 .input-box input[type="submit"] {
  width: 100px;
  padding: 10px 0;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  outline: none;
  background: #b2744c;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
}

#contact-footer .footer {
  margin-top: 0px;
}
/* Contact us end */

/* About us page start */

#about-page {
  width: 100%;
  height: 90vh;
  background: #f7f5f2;
  font-family: "Roboto", sans-serif;
}

#about-page .container {
  padding-top: 50px;
}

#about-page .heading {
  text-align: center;
  margin-bottom: 40px;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

#about-page .heading span {
  color: #b2744c;
}

#about-page .card,
#mission .card {
  margin-left: 10px;
  margin-right: 20px;
  border-radius: 10px;
}

#about-page .card img,
#mission .card img {
  border-radius: 10px;
  height: 300px;
}

#about-page .container h3 {
  margin-top: 20px;
}

#about-page .container p,
#mission p {
  margin-top: 16px;
  font-size: 14px;
  line-height: 1.7;
  text-align: justify;
  padding-right: 1em;
}

#about-page a {
  text-decoration: none;
}

#about-page-btn {
  display: block;
  width: 170px;
  height: 36px;
  background: transparent;
  border: 2px solid #b2744c;
  color: #b2744c;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.5s;
  cursor: pointer;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

#about-page-btn:hover {
  background: #b2744c;
  color: white;
}

#mission {
  max-width: 100%;
  display: flex;
  min-height: 100vh;
  background-color: #34302d;
  background-position: 80%;
}

#mission .heading {
  text-align: center;
  margin-bottom: 40px;
  color: whitesmoke;
  font-size: 30px;
  font-weight: bold;
  padding-top: 50px;
}

#mission .heading span {
  color: #b2744c;
}

#mission p {
  color: whitesmoke;
  font-size: 16px;
}

#mission blockquote {
  background: #cbcaca;
  border-radius: 10%;
  font-size: 16px;
  line-height: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 600px;
  margin: 40px auto;
  margin-top: 20px;
  text-align: center;
}

#mission blockquote::before {
  content: "\275B	\275B";
  font-size: 45px;
  position: relative;
  color: #ff9800;
  line-height: 20px;
  top: 2px;
  bottom: -15px;
  right: 5px;
}

#mission blockquote::after {
  content: "\275C	\275C";
  font-size: 45px;
  position: relative;
  color: #ff9800;
  line-height: 10px;
  bottom: -15px;
  left: 5px;
}

#our-company {
  width: 100%;
  height: 100vh;
  background: #f7f5f2;
  font-family: "Roboto", sans-serif;
}

#our-company .container {
  padding-top: 50px;
}

#our-company .heading {
  text-align: center;
  margin-bottom: 40px;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

#our-company .heading span {
  color: #b2744c;
}

#our-company .story {
  text-align: justify;
  margin-right: 20px;

}

#our-company h3 {
  font-size: 20px;
  font-weight: bold;
}

#our-company p {
  font-size: 14px;
}

#our-company li {
  font-size: 14px;
  line-height: 1.8;
  text-align: justify;
}
/* About us page end */

@media (max-width: 992px) {
  #logo img {
    width: 140px;
    margin-left: 20px;
  }

  .navbar-nav {
    margin-left: 20px;
  }

  #about p {
    font-size: 8px;
  }
}

@media (max-width: 768px) {
  #home .content {
    padding-left: 20px;
    padding-right: 20px;
  }

  #home .content h3 {
    font-size: 24px;
  }

  #home .content h2 {
    font-size: 24px;
  }

  #shop-btn {
    width: 130px;
    font-size: 14px;
  }

  #about-btn {
    width: 130px;
    font-size: 14px;
  }

  #about p {
    font-size: 15px;
  }
  #about {
    height: 120vh;
  }
}

@media (max-width: 576px) {
  #logo img {
    width: 120px;
    margin-left: 10px;
  }

  .navbar-nav {
    margin-left: 0;
  }

  .nav-item .nav-link {
    margin-left: 5px;
  }

  #home .content {
    padding-left: 10px;
    padding-right: 10px;
  }

  #home .content h3 {
    font-size: 20px;
  }

  #home .content h2 {
    font-size: 20px;
  }

  #shop-btn {
    width: 110px;
    font-size: 12px;
  }

  #about .container p {
    font-size: 12px;
  }

  #about-btn {
    width: 110px;
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  #logo img {
    width: 100px;
    margin-left: 5px;
  }

  .navbar-nav {
    margin-left: 0;
  }

  .nav-item .nav-link {
    margin-left: 5px;
    font-size: 14px;
  }

  #home .content {
    padding-left: 10px;
    padding-right: 10px;
  }

  #home .content h3 {
    font-size: 18px;
  }

  #home .content h2 {
    font-size: 18px;
    margin-left: 0;
  }

  #shop-btn {
    width: 100px;
    font-size: 12px;
  }

  #about .container p {
    font-size: 12px;
  }

  #about-btn {
    width: 100px;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
